@using System.Globalization

@if (Model.LockoutEnabled)
{
    TimeSpan? ts = new TimeSpan();
    ts = Model.LockoutDateEndUtc - DateTime.Now;
    <div id="locked" class="alert alert-dismissable alert-danger">
        <strong id="update">Account is blocked.</strong>
        @ts.Value.Days d
        @ts.Value.Hours h
        @ts.Value.Minutes m
    </div>
}
