@{
    ViewBag.Title = "BlockAccountError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h2>Login failure</h2>
    </div>
</div>