@model List<SocialNetwork.Models.TagCloudModel>

<div id="tagcloud">
    @foreach (var tag in Model)
    {
        @Html.ActionLink(tag.TagName, "ViewAllTasks", "UserTask", new { filterParam = "Tag", filterName = tag.TagName }, new { rel = tag.TagFrequency })
        <text>&thinsp;</text>
    }
</div>