@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery.latest.js"></script>
<script src="~/Scripts/jquery.tagcloud.js"></script>
@*<link rel="stylesheet" href="~/Content/owl.carousel.css"> 
<link rel="stylesheet" href="~/Content/owl.theme.css">
<script src="~/Scripts/owl.carousel.js"></script>*@
<link href="~/Content/fotorama.css" rel="stylesheet">
<script src="~/Scripts/fotorama.js"></script>

<script>
    $(document).ready(function () {
        $("#carousel").owlCarousel();
    });
</script>

<style>
    .div-stat-box {
        margin: 0 0 5px 0;
    }
</style>

<div align="center">
    <div style="z-index: 1; position: absolute; height: auto; color: white">
        <h2 style="background-color: #cfcfcf">1. Propose and solve tasks</h2>
        <h2 style="background-color: #cfcfcf">2. Build your own charts</h2>
        <h2 style="background-color: #cfcfcf">3. </h2>
    </div>
    <div class="fotorama" style="z-index: 0" data-autoplay="4500" data-allowfullscreen="false" data-loop="true" data-transition="crossfade">
        <img src="~/Content/images/carousel-1.png" alt="1" />
        <img src="~/Content/images/carousel-2.png" alt="2" />
        <img src="~/Content/images/carousel-3.png" alt="3" />
    </div>    
</div>


<div class="row">
    <div class="col-md-4">
        @Html.Action("MostSolvedTasks")
    </div>
    <div class="col-md-4">
        @Html.Action("RecentTasks")
    </div>
    <div class="col-md-4">
        @Html.Action("TopRateUsers")
    </div>
</div>
<hr />
@Html.Action("TagCloud", new { count = 30 })