<div id="chartData">
    <input id="taskId" name="taskId" type="hidden" value="1" />
    <input type="text" class="form-control" id="chartName" name="chartName" placeholder="Chart name" style="width: 200px" />
    <input type="text" class="form-control" id="axisXName" name="axisXName" placeholder="Axis X Name" style="width: 200px" />
    <input type="text" class="form-control" id="axisYName" name="axisYName" placeholder="Axis Y Name" style="width: 200px" />
    <input type="text" class="form-control" id="expression" name="expression" placeholder="Expression" style="width: 200px" />
    <input type="text" class="form-control" id="from" name="from" placeholder="From" style="width: 200px" />
    <input type="text" class="form-control" id="to" name="to" placeholder="To" style="width: 200px" />
    <input type="text" class="form-control" id="step" name="step" placeholder="With step" style="width: 200px" />
    <input id="Chart" class="btn btn-primary" type="submit" value="Preview" />
    <div id="chart">
    </div>
</div>