@model SocialNetwork.Models.ViewTagViewModel

<div>
    @if (Model.UserTaskStatus)
    {
        <span class="label label-danger">@SocialNetwork.Resources.Resource.BlockedTask</span>
    }
    @foreach (var tag in Model.Tags)
    {
        <span class="label label-info tag-label">
            @Html.ActionLink(tag, "ViewAllTasks", "UserTask", new { filterParam = "Tag", filterName = tag }, new { @class = "tag-link" })
        </span>
    }
</div>